.underline{text-decoration:underline !important;}
.blackbg{background:#000000 !important}
.white{color:#fff !important;}
#CartController{
  .red{color:red;}
}

//global


//hr{height:3px;color:#ooo;}


#TextController{}

#AlbumController{}

#AlbumController{
  tr{border:1px solid #000;}
  td{border:1px solid #000;}


}

#DeathrayMenuController{
  .menu-disabled-true {
    color: gray;
    }

  .title{color:white;padding:10px 0px;}
  .error{color:red}
  .warning{color:yellow}

  }



#RestaurantTableController{
  .selected{color:red;font-weight:bold;}

  }