<!doctype html>
<html lang="en" ng-app="OriellyAnjularStarter">
<head>
    <meta charset="utf-8">
    <title>Orielly Anjular</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.css">


    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>


    <script src="js/app.js"></script>

    <!--&lt;!&ndash;filter with false and true if the boolean component is on&ndash;&gt;-->
    <!--<script src="js/filters.js"></script>-->
    <!--<script src="js/services.js"></script>-->
</head>
<body>
    <div ng-controller="CartController" id="CartController">



            <div ng-repeat="item in items">
                <span>{{item.title}}</span>
                <input ng-model="item.quantity">
                <span>{{item.price | currency}}</span>
                <span>{{item.price * item.quantity | currency}}</span>
            </div>
            <div>Total: {{totalCart() | currency}}</div>
            <div>Discount: {{bill.discount | currency}}</div>
            <div>Subtotal: {{subtotal() | currency}}</div>





    </div>


    <hr>
    <hr>
    <hr>


    <h1>create the basic</h1>
    <div ng-controller="TextController" id="TextController">
        <!--an example of using data bind - only if its come from the server-->
        <h3 ng-bind="someText.message">{{someText.message}}</h3>
    </div>

    <hr>
    <hr>
    <hr>

    <div ng-controller="InputController" id="InputController">

        <form ng-submit="requestFunding()">
        starting: <input ng-change="computeNeeded()" ng-model="funding.startingEstimate"/>
        Recommendation:  {{funding.needed}}
            <button>Fund My Startup</button>
            <button ng-click="reset()">Reset</button>
        </form>
    </div>

    <hr>
    <hr>
    <hr>



    <h1>create a repeater with links</h1>


    <!--here we create a link with the id - better idea to make unique link-->
    <div ng-controller="StudentController" id="StudentController">

        <div ng-repeat='student in students'>
                <a href="/student/view/{{student.id}}">{{student.name}}</a>
        </div>

        <button ng-click="insertRockey()">Insert</button>
    </div>


    <hr>
    <hr>
    <hr>

    <!--here we create a link with the id - better idea to make unique link-->
<h1>create a repeater</h1>
    <div ng-controller="AlbumController" id="AlbumController">
        <h3 class="underline">table of track of lion king</h3>
        <table>

                <tr  ng-repeat='track in album'>
                    <td>{{$index+1}}</td>
                    <td>{{track.name}}</td>
                    <td>{{track.duration}}</td>
                </tr>
        </table>
    </div>


    <hr>
    <hr>
    <hr>

<h1>css interduce and use ng-show </h1>
        <div ng-controller='DeathrayMenuController' id="DeathrayMenuController">
            <button ng-click='toggleMenu()'>Toggle Menu</button>
            <ul ng-show='show'>
                <li class='menu-disabled-{{isDisabled}}' ng-click='stun()'>Stun</li>
                <li ng-click='disintegrate()'>Disintegrate</li>
                <li ng-click='erase()'>Erase from history</li>
            </ul>
        <div/>


        <hr>
        <hr>
        <hr>
        </div>



    <h1>play with the class with boolean anwser</h1>
       <div ng-controller="HeaderController" id="HeaderController">
           <div ng-class="{error:isError,warning:isWarning}" class="blackbg title">{{messageText}}</div>
           <button ng-click="showError()">simulate Error</button>
           <button ng-click="showWarning()">simulate Warning</button>
       </div>



        <hr>
        <hr>
        <hr>

            <table ng-controller='RestaurantTableController' id="RestaurantTableController">

                <!--if the condition is true - the class will be true(good for selected item)-->
                <tr ng-repeat='restaurant in directory' ng-click='selectRestaurant($index)' ng-class='{selected: $index==selectedRow}'>
                    <td>{{restaurant.name}}</td>
                    <td>{{restaurant.cuisine}}</td>
                </tr>
                <a ng-href="http://www.ynet.co.il">link test</a>
                <img ng-src="img/glyphicons-halflings-white.png" alt="glyphicons"/>
            </table>






        <hr>
        <hr>
        <hr>


    <h1>Publishing Model data with scopes</h1>
    <div ng-controller="CountController" id="CountController">
        <button ng-click="setCount()">set count to 3</button>
        <input ng-model="count"/>
        <h3>{{count}}</h3>
    </div>



    <hr>
    <hr>
    <hr>



    <h1>Customize Filter </h1>
    <div ng-controller="FilterController" id="FilterController">

        <h3>{{filterExample | titleCase}}</h3>
    </div>









</body>
</html>

